src/**
.sfdx
.vscode
/test/devenv/**
.settings
.project
apex-scripts
bower_components
IlluminatedCloud
l10n
node_modules
.idea
*.iml
build.properties
**/.DS_Store
**/*.swp
.env.json
**/*.local.js
**/*.map

temp.*
temp
tmp
/tests
